/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/google-calendar/*.json
/vendor
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/storage/debugbar
*.deployment
.env
/public/generated-pdfs
public/build/manifest.json
/public/build/manifest.json
manifest.json
/coverage-report

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
NUL
venv/
app/python/Certificate-Generator/venv/

